/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding-top: 70px;
}

.btn{
    background-color: #1061FF;
    color: white;
    border: none;
    padding: .6em 1em;
}

.container-centered{
    max-width: 800px;
    margin: 0 auto;

    padding-top: 6em;
    font-size: .9em;
}

/* /Assets */


/* Header */

/* Nav */
nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 70px;

    /* flex */
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
}

nav .nav-left {
    /* flex */
    display: flex;
    gap: 2em;
    align-items: center;

    padding-left: 1em;
}

nav ul {
    /* flex */
    display: flex;
    gap: 2em;

    list-style-type: none;
}

nav ul li{
    font-size: .9em;
}

nav ul a {
    padding: 1.6em 0;
    text-decoration: none;
}

nav ul a:visited,
nav ul a:focus{
    color: black;
}

nav .nav-right {
    /* flex */
    display: flex;
    gap: 2em;
    align-items: center;

    padding-right: 1em;
}

/* /Nav */

header .jumbo {
    background-color: #B4D0E7;
}

header .jumbo .jumbo-container{
    margin: 0 auto;
    max-width: 900px;

    /* flex */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

header .jumbo .jumbo-container .jumbo-header{
    font-size: 2em;
    padding: 2em 0 1em 0;
}

header .jumbo .jumbo-container .jumbo-content{
    /* flex */
    display: flex;

    font-size: .9em;
}

header .jumbo .jumbo-container .jumbo-content .jumbo-left {
    width: 35%;
}

header .jumbo .jumbo-container .jumbo-content .jumbo-right {
    width: 65%;
    position: relative;
}

header .jumbo .jumbo-container .jumbo-content .jumbo-left > *:not(.jumbo-sub-link) {
    padding-bottom: 2em;
}

header .jumbo-sub-link a:visited,
header .jumbo-sub-link a:focus{
    color: black;
    text-decoration: none;
}

header .jumbo .jumbo-container .jumbo-content .jumbo-left .jumbo-sub-link {
    font-size: 3.5em;
}

header .jumbo .jumbo-container .jumbo-content .jumbo-right img{
    max-width: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

/* /Header */

/* Main */

main #substription-header{
    margin-bottom: 2em;
}

main #substription-header > h2 {
    font-size: 2em;
    margin-bottom: 1.5em;
}

main #substription-header .fatture {
    /* flex */
    display: flex;
    gap: 2em;
}

main #subscription-plans {
    /* flex */
    display: flex;
    justify-content: space-between;

    margin-bottom: 3em;
}

#subscription-plans .plan {
    border: 1px solid lightgrey;
    /* test */
    width: 30%;
}

#subscription-plans .plan .plan-header{
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: .5em 0;
}

#subscription-plans .plan .plan-content{
    padding: 2em 1.5em;

    /* flex */
    display: flex;
    flex-flow: column nowrap;
    gap: 2em;
}

#subscription-plans .plan .plan-content .plan-info {
    display: flex;
    flex-flow: column nowrap;
    gap: .8em;
}

#subscription-plans .plan .plan-content .plan-offer {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

#subscription-plans .plan .plan-content .plan-offer ,fa-solid {
    font-size: .9em;
}

#subscription-plans .plan .plan-content .plan-offer .plan-offer-users {
    display: flex;
    gap: .5em;
}
#subscription-plans .plan .plan-content .plan-offer .plan-offer-space {
    display: flex;
    gap: .5em;

}
#subscription-plans .plan .plan-content .plan-offer .plan-offer-functions {
    display: flex;
    gap: .5em;

}

#subscription-plans .plan .plan-content .plan-button .btn{
    width: 100%;
}

#subscription-plans .plan .plan-content .separator {
    width: 2em;
    border: 1px solid lightgrey;
}

#subscription-plans .plan .plan-content .focal-points-list{
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

#subscription-plans .plan .plan-content .focal-points-list ul {
    margin: 0 1.5em;
}

#subscription-plans .plan .plan-content .focal-points-list ul li {
    margin-bottom: 1em;
}


#subscription-plans .plan .plan-content .list {
    display: flex;
    gap: .2em;
}

#subscription-plans .plan .plan-content .list .focal-points-list-icon .fa-solid{
    color: blue;
}



main .team-section {
    border: 1px solid lightgrey;
}

main .team-section .team-header {
    border: 1px solid lightgrey;
    text-align: center;
    padding: 0.5em 0;
}

main .team-section .team-container{
    display: flex;

    padding: 2em 1.5em;
}

main .team-section .team-container .team-left{
    width: 70%;
}
main .team-section .team-container .team-right{
    width: 30%;
}

main .team-section .team-container .team-right button{
    width: 100%;
}

main .partner-section{
    display: flex;

    margin: 10em 0;
}

main .partner-section .partner-img{
    width: 60%;
}

main .partner-section .partner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .partner-section .partner-content{
    width: 40%;
}

main .dropbox-business {
    margin-bottom: 8em;
}

main .dropbox-business .business-grid{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    margin-bottom: 10em;
}

main .dropbox-business .business-grid .item{
    width: 30%;
}

main .dropbox-business .business-grid .item img{
    width: 100%;
}

main .dropbox-business h2 {
    margin-bottom: 3em;
}

main .companies {
    width: 100%;
    background-color: lightblue;
    /* test */

    display: flex;
}

main .companies .company-card {
    height: 500px;
    background-color: lightyellow;
    /* test */
    display: flex;
    flex-flow: row wrap;

    width: calc(100% / 3);
    
}

main .companies .company-card .card {
    width: 50%;
    height: 50%;
    background-color: aquamarine;
    border: 1px solid black;
    /* test */
}

main .companies .company-card .card img{
    width: 100%;
}

main .cta-section {
    width: 100%;
    background-color: #B4D0E7;
    /* test */
}

main .cta-section .cta {
    padding-bottom: 6em;
    /* test */

    /* flex */
    display: flex;
    justify-content: space-between;
}




/* /Main */

